<div class="container">
  <h3>Filters</h3>
  <form {{action "refresh" on="submit"}}>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Start Date</label>
          {{input type="date" class="form-control" value=model.startDate}}
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>End Date</label>
          {{input type="date" class="form-control" value=model.endDate}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Vehicles</label>
          <ul class="row list-unstyled">
            {{#each model.vehicles as |vehicle|}}
              <li class="col-md-4">
                <label>{{input type="checkbox" checked=vehicle.isSelected}} {{vehicle.remoteId}}</label>
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  </form>
</div>
<hr>
<div class="col-md-12">
  {{outlet}}
</div>
