{{bd-map lat="39.15" lng="-84.516" zoom=11  vehiclePositions=model.selectedVehiclePositions}}

<h1 class="display-2 m-t-lg">Demograpghics</h1>
{{#each model.demographicReports as |report|}}
  <div class="row">
    <div class="col-md-6">
      <h4 class="u-text-center">Age</h4>
      <div class="row">
        <div class="col-md-8">
          {{bd-doughnut-chart data=report.populationAges}}
        </div>
        <ul class="list-unstyled col-md-4">
          {{#each report.populationAges as |datum|}}
            {{#bd-legend background=datum.color}}{{datum.label}}{{/bd-legend}}
          {{/each}}
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <h4 class="u-text-center">Gender</h4>
      <div class="row">
        <div class="col-md-8">
          {{bd-doughnut-chart data=report.populationSex}}
        </div>
        <ul class="list-unstyled col-md-4">
          {{#each report.populationSex as |datum|}}
            {{#bd-legend background=datum.color}}{{datum.label}}{{/bd-legend}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>

  <h2>Median Income: <span class="qa-median-income">{{report.incomeMedian}}</span></h2>
  <h2>Total Income: {{report.incomeTotal}}</h2>
{{/each}}
