<div class="row m-t-md">
  <h1 class="display-2 col-md-9">Campaigns</h1>
  <div class="col-md-3 u-text-right">
    <a {{action 'newCampaign'}} class="qa-create-campaign btn btn-secondary btn-sm" href="#">New Campaign</a>
  </div>
</div>

{{#each model as |c|}}
  <div class="card qa-campaign-{{c.id}}">
    <div class="card-block">
      <div class="row">
        <div class="col-md-7 col-sm-7 col-xs-12">
          <h4 class="">{{c.name}}</h4>
          <p class="small u-text-muted m-b-0 qa-vehicle-count">{{c.vehicles.length}} Vehicles</p>
        </div>
        <div class="col-md-5 col-sm-5 col-xs-12 u-text-right">
          <div class="btn-group">
            {{#rl-dropdown-container class="dropdown"}}
              {{#rl-dropdown-toggle class="btn btn-secondary"}}Manage{{/rl-dropdown-toggle}}

              {{#rl-dropdown class="dropdown-menu"}}
                <span class="qa-edit-campaign-{{c.id}}">
                  {{#link-to 'campaign.edit' c class="dropdown-item"}}Edit{{/link-to}}
                </span>
                <span class="qa-delete-campaign-{{c.id}}">
                  <button class="dropdown-item qa-delete" {{action 'deleteCampaign' c}}>Delete</button>
                </span>
              {{/rl-dropdown}}
            {{/rl-dropdown-container}}
          </div>
          {{#link-to 'campaign.report' c class="btn btn-primary m-l"}}Report{{/link-to}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
